.sysreq-calc
  width: 700px
  margin: 0 auto
  p
    margin-bottom: $r
  input
    height: $r*2
    padding-left: $r/2
    font-size: $font-larger
    line-height: $r*2
    font-weight: 300

  .suggestions-box
    margin-bottom: $r
    .suggestions-dropdown
      height: $r*2

  &-result
    float: right
    width: 300px
    text-align: center
    &-title
      font-size: $font-larger
    &-value
      position: relative
      top: $r/2
      line-height: $r*3 // To offset the padding of the tabs content
      font-size: $font-xx-larger
      font-weight: 700
      span
        vertical-align: middle
      &-mean
      &-deviation
        font-size: $font-larger
        color: $ocean-green


  &-games-list
    float: left
    width: 400px

  &-game
    display: flex
    align-items: center
    &-name
    &-separator
      flex-grow: 1
      background: $ocean-green
      height: 1px
      margin: 0 $r/2
    &-value
    &-remove
      padding: 0 $r/2
      color: $red
      cursor: pointer
