.ControlPop
  +z(ControlPop)
  position: absolute
  transform: translate(-50%, -50%)
.ControlPop__centerer
  width: $gg*7
  padding: $g*2
  border-radius: 2px
  background: $color-mono-4
  box-shadow: $shadow-dialog
  opacity: 1
  transition-property: transform opacity
  transition-duration: 0.25s
.ControlPop_firstFrame
  .ControlPop__centerer
    transform: scale(0.75)
    opacity: 0.01
    transition-duration: 0.5s
.ControlPop_lastFrame
  .ControlPop__centerer
    transform: scale(0.01)
    opacity: 0.01
.ControlPop__closeButton

.ControlPop__actions
  display: flex
  justify-content: flex-end
  margin-top: $g*2
