.ControlPop
  width: $gg*6
  max-width: 100%
  border-radius: 2px
  background: $color-mono-4
  box-shadow: $shadow-dialog

.ControlPop__header
  padding: $g*2
  +clearfix
.ControlPop__title
  float: left
  line-height: $g*4
  vertical-align: top
  text-transform: uppercase
.ControlPop__ToggleIcon
  float: right
.ControlPop__queryChipWrapper
  display: flex
  clear: both
  width: 100%
.ControlPop__QueryChip
.ControlPop__body
  padding: $g*2
.ControlPop__actions
  display: flex
  justify-content: flex-end
  padding: $g

.ControlPop__shortcuts
  padding: $g*2
  padding-bottom: $g
  display: flex
  flex-wrap: wrap
  justify-content: center
.ControlPop__Shortcut
  margin: 0 $g/2 $g $g/2
