{
  "presets": [
    "es2015-loose-native-modules",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015-loose",
        "stage-0",
        "react"
      ]
    }
  }
}
