.TagsControl
  position: relative
  padding: $g
  text-align: left

  input
    width: 100%
    z-index: 10

  &__SelectedTags
    span
      margin-top: $g

  &__TagsSelector
    position: relative

  &__FloatingMenu
    position: absolute
    top: 100%
    left: 0
    min-width: 100%
