*
  box-sizing: border-box

html
  overflow-y: scroll

body
  +font-base
  background-color: $color-mono-1
  *
    -webkit-tap-highlight-color: rgba(#FFF, 0)

a
  color: $color-sec
  text-decoration: none
  cursor: pointer

em
  font-style: italic

th, td
  vertical-align: middle
