$fa-font-path: 'font-awesome/fonts/'
@import "../../../../node_modules/font-awesome/scss/_variables"
@import "../../../../node_modules/font-awesome/scss/_mixins"
@import "../../../../node_modules/font-awesome/scss/_path"
@import "../../../../node_modules/font-awesome/scss/_core"

:global(.fa)
  display: inline-block
  width: $g*3
  height: $g*3

  text-align: center

  font-family: FontAwesome
  font-size: $g*3

  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@mixin gicon($name, $var, $combined: false)
  :global(.icon-#{$name}:before)
    content: $var
  @if $combined
    :global(.icon-#{$name}:after)
      content: $combined
      font-size: $g*2

+gicon(menu, $fa-var-bars)
+gicon(filter, $fa-var-filter)
+gicon(sysreq, $fa-var-thermometer-three-quarters)
+gicon(feedback, $fa-var-commenting-o)
+gicon(contribute, $fa-var-btc)

// Table title
+gicon(sort-asc, $fa-var-arrow-up)
+gicon(sort-desc, $fa-var-arrow-down)


// Base filters icons
+gicon(filter-steam_thumbnail, $fa-var-picture-o)
+gicon(filter-images, $fa-var-file-picture-o)
+gicon(filter-steam_id, $fa-var-steam)
+gicon(filter-name, $fa-var-font)
+gicon(filter-images, $fa-var-image)
+gicon(filter-sysreq_index_centile, $fa-var-fire)
+gicon(filter-sysreq_video_tokens_values, $fa-var-tags)
+gicon(filter-released_at, $fa-var-calendar-minus-o)
+gicon(filter-released_at_absolute, $fa-var-calendar)
+gicon(filter-tags, $fa-var-tags)

+gicon(filter-lowest_steam_price, $fa-var-dollar)
+gicon(filter-steam_discount, $fa-var-percent)

+gicon(filter-playtime_mean, $fa-var-clock-o, $fa-var-font)
+gicon(filter-playtime_median, $fa-var-clock-o)
+gicon(filter-playtime_sd, $fa-var-clock-o + 'σ')
+gicon(filter-playtime_rsd, $fa-var-clock-o, 'σ' + $fa-var-font)
+gicon(filter-playtime_mean_ftb, $fa-var-clock-o, $fa-var-dollar)
+gicon(filter-playtime_median_ftb, $fa-var-clock-o, $fa-var-dollar)

+gicon(filter-metacritic, $fa-var-star)
+gicon(filter-steam_reviews_count, $fa-var-comments)
+gicon(filter-steam_reviews_ratio, $fa-var-star)

+gicon(filter-features, $fa-var-cubes)
+gicon(filter-platforms, $fa-var-linux)
+gicon(filter-players, $fa-var-group)
+gicon(filter-vr_platforms, $fa-var-desktop)
+gicon(filter-vr_mode, $fa-var-male)
+gicon(filter-vr_controllers, $fa-var-gamepad)
+gicon(filter-controller_support, $fa-var-gamepad)

+gicon(filter-steam_early_access, $fa-var-exclamation-circle)


// Icons in the columns
+gicon(column-check-circle, $fa-var-check-circle)

// Other icons

+gicon(dropdown, $fa-var-caret-down)
+gicon(remove-tag, $fa-var-times)
+gicon(remove-chip, $fa-var-times)
+gicon(highlight, $fa-var-lightbulb-o)

// Sharer tab
.icon-warning:before
  content: $fa-var-exclamation-triangle

// Title icons
.icon-highlight:before
  content: $fa-var-lightbulb-o
.icon-close:before
  content: $fa-var-times

// Tabs

.icon-share:before
  content: $fa-var-share-alt
.icon-link:before
  content: $fa-var-link

// Boolean filters icons


+gicon(boolean-steam_achievements, $fa-var-certificate)
+gicon(boolean-steam_trading_cards, $fa-var-file)
+gicon(boolean-steam_workshop, $fa-var-wrench)
+gicon(boolean-steam_cloud, $fa-var-cloud)
+gicon(boolean-valve_anti_cheat, $fa-var-shield)

+gicon(boolean-win, $fa-var-windows)
+gicon(boolean-mac, $fa-var-apple)
+gicon(boolean-linux, $fa-var-linux)

+gicon(boolean-single_player, $fa-var-user)
+gicon(boolean-multi_player, $fa-var-users)
+gicon(boolean-co_op, $fa-var-user-plus)
+gicon(boolean-local_co_op, $fa-var-home)

+gicon(boolean-vive, $fa-var-play-circle)
:global(.icon-boolean-vive)
  transform-origin: 50% 67%
  transform: rotate(-90deg)
+gicon(boolean-oculus, '⬭')
:global(.icon-boolean-oculus:before)
  display: block
  transform: translateY(-2px)

// .icon-boolean-oculus:before
//   content: ' '
//   display: inline-block
//   width: 8px
//   height: 3px
//   border: solid 4px $color-text-sec
//   border-radius: $r/2
// .boolean-checked
//   .icon-boolean-oculus:before
//     border-color: $white

+gicon(boolean-tracked, $fa-var-video-camera)
+gicon(boolean-gamepad, $fa-var-gamepad)
+gicon(boolean-keyboard_mouse, $fa-var-keyboard-o)

+gicon(boolean-seated, $fa-var-wheelchair)
+gicon(boolean-standing, $fa-var-male)
+gicon(boolean-room_scale, $fa-var-street-view)

// Games loader
.icon-load-more-left:before
  content: $fa-var-angle-double-left
.icon-load-more-right:before
  content: $fa-var-angle-double-right
