.FloatingMenu
  padding: $g 0
  border-radius: 2px
  background: $color-mono-4
  box-shadow: $shadow-submenu
  text-align: left
  vertical-align: bottom
  font-size: $font-size-menu-item
  line-height: $g
  white-space: nowrap
  overflow: hidden
  +z(FloatingMenu)
  &__Item
    display: flex
    align-items: center
    height: $g*5
    padding: 0 $g*2
    cursor: pointer
    &:hover
      background: $color-mono-2
    span
      flex-grow: 1
      padding-right: $g
    button
      // background: $color-sec
      // padding: 0 $g / 2
      // min-width: 0
      // height: auto
      // line-height: $g*2
      // font-size: 10px
      // &:hover
      //   background: $color-sec-light

  &__Item_selected
    background: $color-mono-2
