$dark-blue:   #1A1932;
$blue:        #2A354C;
$ocean-blue:  #3F5864;
$ocean-green: #63807F;
$teal:        #8EA8A1;
$white:       lighten($teal, 20%);
$red:         #872929;
$input-white: #fafafa;
$green:       green;
$link-blue:   #3c8baf;
$yellow:      #f1d619;
$faded-white: mix($white, $blue, 20%);

$color1: $dark-blue;
$color2: $blue;
$color3: $ocean-blue;
$color4: $ocean-green;
$color5: $teal;
$color6: $white;


$r: 24px;

$font-normal: 16px;
$font-larger: 20px;
$font-x-larger: 24px;
$font-xx-larger: 48px;
$font-smaller: 12px;
$font-x-smaller: 8px;

$z: (
  catColumnsItems: 100,
  loadingSpinner: 101,
  lightbox: 102,
  sysreqCalc: 99,

  dt: 70,
  dt-controls: 50,
  dt-titles: 60,
  dt-titles-tooltip: 1,
  dt-titles-highlightBorder: 2,
  dt-titles-resizeHandle: 5,
  dt-overflowCell: 10
);

@mixin z($name, $sub: false) {
  @if map-has-key($z, $name) {
    z-index: map-get($z, $name);
  }
  @else {
    @error "z-index map doesn't have key #{$name}";
  }

}
