$dark-blue:   #1A1932;
$blue:        #2A354C;
$ocean-blue:  #3F5864;
$ocean-green: #63807F;
$teal:        #8EA8A1;
$white:       lighten($teal, 20%);
$red:         #872929;
$input-white: #fafafa;
$green:       green;
$link-blue:   #3c8baf;
$yellow:      #f1d619;
$faded-white: mix($white, $blue, 20%);

$color1: $dark-blue;
$color2: $blue;
$color3: $ocean-blue;
$color4: $ocean-green;
$color5: $teal;
$color6: $white;


$r: 24px;

$font-normal: 16px;
$font-larger: 20px;
$font-x-larger: 24px;
$font-xx-larger: 48px;
$font-smaller: 12px;
$font-x-smaller: 8px;

$z:
  "lightbox",
  "loadingSpinner",
  "catColumnsItems",
  "sysreqCalc",
  "dt",
  "dt-titles-highlightBorder",
  "dt-titles",
  "dt-controls",
  "dt-overflowCell",
  "dt-titles-resizeHandle",
  "dt-titles-sort-arrow",
  "dt-titles-icon",
  "dt-titles-tooltip";

@mixin z($name) {
  @if index($z, $name) {
    z-index: length($z) - index($z, $name) + 100;
  }
  @else {
    @error "z-index list doesn't have #{$name}";
  }
}
