.categoriesList
  box-shadow: $shadow-card
  display: flex
  border-radius: 2px
  overflow: hidden

.category
  flex-grow: 1

.category
  background: $color-mono-4

  &-gameInfo
  &-performance
  &-price
  &-playtime
  &-ratings
  &-features
  &-vr

.title
  padding: $g * 2
  line-height: $g * 3
  font-size: $font-size-subheading
  color: $color-text-sec
  overflow: hidden
  text-overflow: ellipsis

.togglesList
  display: flex
  margin-top: -1px
  color: $color-text-sec

.toggle
  display: flex
  flex-grow: 1
  border: solid 1px transparent
    bottom: none
  margin-left: -1px
  color: $color-text-dis
  color: mix-opacify($color-text-dis, $color-mono-2)
  white-space: nowrap
  text-align: center
  input
    display: none
  label
    display: block
    padding: $g 0
    width: 100%
    cursor: pointer
    overflow: hidden
  &.active
    color: mix-opacify($color-text-sec, $color-mono-4)
    background: $color-mono-2
    box-shadow: inset 0 1px 3px rgba(#000, 0.06)
    border-color: mix-opacify($color-divider, $color-mono-4)

.category:first-child .toggle:first-child
  margin-left: 0
  border-left: none
.category:last-child .toggle:last-child
  border-right: none

.toggleTitle
  display: none

.toggleIcon
  letter-spacing: -5px
  margin-left: -5px
