@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300)

@import "~compass/reset"
@import "~compass/utilities/general/clearfix"

$dark-blue:   #1A1932
$blue:        #2A354C
$ocean-blue:  #3F5864
$ocean-green: #63807F
$teal:        #8EA8A1
$white:       lighten($teal, 20%)

$color1: $dark-blue
$color2: $blue
$color3: $ocean-blue
$color4: $ocean-green
$color5: $teal
$color6: $white

$base-font-size: 16px
$base-line-height: 24px
$font-unit: 1rem
$relative-font-sizing: false
@import "~compass/typography/vertical_rhythm"
$rhythm-px: $base-line-height
$rhythm: rhythm()
+establish-baseline()

$font-normal: $base-font-size
$font-larger: 20px
$font-x-larger: 24px
$font-xx-larger: 48px
$font-smaller: 12px
$font-x-smaller: 8px

@mixin f($font-size)
  +adjust-font-size-to($font-size)

body
  color: $white
  font-family: Roboto, sans-serif
  font-weight: 300
  background: $dark-blue

.header
  text-align: center
  +f($font-xx-larger)
  font-weight: bold

.nav
  +clearfix
  &-tabs
    list-style-type: none
    li
      float: left
      padding: 0 $rhythm/2
      background: $blue
      +f($font-x-larger)
      cursor: pointer
      &.active
        background: $ocean-blue

.tabs-content
  +clearfix
  padding: $rhythm
  background: $teal
  color: $dark-blue
  font-weight: normal

  .filters-toggles-section
    float: left
    margin-right: $rhythm
    h3
      +f($font-larger)


@import "DataTable"
@import "columns/RatioColumn"
