$dark_blue:   #1A1932
$blue:        #2A354C
$ocean_blue:  #3F5864
$ocean_green: #63807F
$teal:        #8EA8A1

$color1: $dark_blue
$color2: $blue
$color3: $ocean_blue
$color4: $ocean_green
$color5: $teal

body
  color: #fff
  background: white

.index img
  margin: 40px auto
  border-radius: 4px
  background: #fff
  display: block

.index .notice
  margin: 20px auto
  padding: 15px 0
  text-align: center
  border: 1px solid #000
  border-width: 1px 0
  background: #666
