.LinkColumn
  text-align: left


.PriceColumn
  .price-was
    text-decoration: line-through
    color: lighten(desaturate($color, 50%), 50%)
    margin-right: $r/4

.RatioColumn
  .ratio-column
    width: 100%
    height: 8px

    &-up
      float: left
      height: 100%
      background: green

    &-down
      float: left
      height: 100%
      background: red

.BooleanColumn
  padding-right: 10px
  .icons-list
    display: table
    table-layout: fixed
    width: 100%
  i
    display: table-cell
    line-height: $r

.ImagesColumn
  img
    display: block
    margin: 0 auto
    height: 45px
    cursor: pointer

.TagsColumn
  text-align: left
  ul
    color: $white
    font-size: $font-smaller
    line-height: $r*3/4
    white-space: nowrap
    li
      display: inline-block
      margin-right: 2px
      padding: 0 2px
      border-radius: 2px
      background: $ocean-blue
      cursor: pointer
