.data-table
  $background: $white
  $alternate-background: darken($white, 5%)
  $color: $dark-blue
  $title-background: $blue
  $title-alternate-background: darken($blue, 5%)
  $title-color: $white

  table-layout: fixed
  border-collapse: separate
  width: 100%
  background: $background
  color: $color
  // overflow: hidden

  td, th
    white-space: nowrap
    text-align: center
    font-weight: 300
    border-right: solid 1px $alternate-background
    &:last-child
      border-right: none

  &-batch
    tr:nth-child(even)
      background: $alternate-background
      .overflow-cell
        background: $alternate-background

  .overflow-cell
    display: block
    overflow: hidden
    text-overflow: ellipsis
    &:hover
      // Inline: block doesn't expand to the rest of the thing
      //         inline-block changes the height
      display: inline
      position: relative
      overflow: inherit
      z-index: 10

  th .overflow-cell:hover
    // Because fuck it, we need this on the titles
    display: inline-block

  // Filters titles
  &-titles
    color: $title-color
    background: $title-background
    text-shadow: 0px 1px $dark-blue

  .filter-title
    position: relative
    border-right-color: $title-alternate-background
    &.sortable
      cursor: pointer

    span
      margin-left: $r/4

    .fa
      display: none

    &.iconized
      span
        display: none
      .fa
        display: inline-block

      &:hover
        span
          display: inline
        .fa
          display: none

    &.sort:after
      position: absolute

      right: 5px
      top: 0
      color: $ocean-green
      font-size: $font-smaller

    &.sort-asc:after
      content: '▲'

    &.sort-desc:after
      content: '▼'

    .overflow-cell
      background: $title-background

    &-active
      background: lighten($title-background, 5%)
      box-shadow: 0px -1px 0px $white

    &-active .overflow-cell
      background: lighten($title-background, 5%)

    .resize-handle
      position: absolute
      right: 0
      top: 0
      width: 4px
      height: 100%
      background: lighten($blue, 5%)
      cursor: ew-resize
      z-index: 5


  // Filters controls
  &-controls
    th:last-child // horrible hack
      overflow: hidden

  .filter-control
    input
      border-right: none
      border-left: none

  @import "filters"

  // Columns
  .filter-column
    .overflow-cell
      background: $background

  @import "columns"
