$fa-font-path: '~font-awesome/fonts/'
@import "~font-awesome/scss/_variables"
@import "~font-awesome/scss/_mixins"
@import "~font-awesome/scss/_path"
@import "~font-awesome/scss/_core"

// Boolean filters icons

.icon-steam_achievements:before
  content: $fa-var-certificate
.icon-steam_trading_cards:before
  content: $fa-var-file
.icon-steam_workshop:before
  content: $fa-var-wrench
.icon-steam_cloud:before
  content: $fa-var-cloud
.icon-valve_anti_cheat:before
  content: $fa-var-shield

.icon-win:before
  content: $fa-var-windows
.icon-mac:before
  content: $fa-var-apple
.icon-linux:before
  content: $fa-var-linux

.icon-single_player:before
  content: $fa-var-user
.icon-multi_player:before
  content: $fa-var-users
.icon-co_op:before
  content: $fa-var-user-plus
.icon-local_co_op:before
  content: $fa-var-home

.icon-vive:before
  content: $fa-var-eye

// Base filters icons

.icon-steam_id:before
  content: $fa-var-steam
.icon-name:before
  content: $fa-var-font
.icon-images:before
  content: $fa-var-image

.icon-lowest_steam_price:before
  content: $fa-var-steam + $fa-var-dollar
.icon-steam_discount:before
  content: $fa-var-steam + '-' + $fa-var-dollar + '%'

.icon-playtime_mean:before
  content: 'PTA'
.icon-playtime_median:before
  content: 'PTM'
.icon-playtime_sd:before
  content: 'PTSD'
.icon-playtime_rsd:before
  content: 'PTRSD'
.icon-playtime_mean_ftb:before
  content: 'PTA/' + $fa-var-dollar
.icon-playtime_median_ftb:before
  content: 'PTM/' + $fa-var-dollar

.icon-metacritic:before
  content: $fa-var-star
.icon-steam_reviews_count:before
  content: $fa-var-steam + $fa-var-comments + "#"
.icon-steam_reviews_ratio:before
  content: $fa-var-steam + $fa-var-comments + $fa-var-star

.icon-features:before
  content: $fa-var-steam + $fa-var-cubes
.icon-platforms:before
  content: $fa-var-windows + $fa-var-apple + $fa-var-linux
.icon-players:before
  content: $fa-var-group
.icon-vr:before
  content: 'VR'
.icon-controller_support:before
  content: $fa-var-gamepad
