.ControlsList
.ControlsList__cell
  // height: $g*6

  vertical-align: top

.ControlList__cellWrap
  height: 0
  margin-top: -$g*6
.ControlsList__ControlButton
  display: flex
  align-items: center
  justify-content: center
