.ControlsList
.ControlsList__cell
  // height: $g*6

  vertical-align: top

.ControlList__cellWrap
  height: 0
  margin-top: -$gg
.ControlsList__ControlButton
  display: flex
  align-items: center
  justify-content: center
  height: $gg
  overflow: hidden

// so it doesn't overflow the table if the chip is too long
.ControlsList__cell:last-child .ControlsList__ControlButton
  overflow: hidden

// This is a little hacky because we're using a global class to match, but whatever
// CSS modules should let us do this anyway
// We need to hide both the remove-query button and the filter icon
+media('<desktop')
  .ControlsList__ControlButton
    :global(.__export_QueryChip__icons)
      display: none
