.ControlsList

.ControlsList__cell
  height: $g*6
  padding: $g*2 0
  vertical-align: top

.ControlsList__ControlComponent
  // border-left: solid 1px $color-divider-light
  // padding: $g
  // height: $g * 6
  // padding: $g*2 0
  // padding-bottom: $g*2


.ControlsList__controlOverflow
  position: relative

.ControlsList__ControlButton

+media('<desktop')
  .ControlsList
    display: none
