.__deco
  color: $color-text-dis
  font-size: $font-size-caption

.TagsColumn

.TagsColumn__Tag
  float: left

.TagsColumn__Tag_selected

.LinkColumn
  a
    color: $color-text-sec
    text-decoration: underline
  a:hover
    color: $color-acc

.PriceColumn
  display: flex
  justify-content: flex-end
  align-items: center
  width: 100%
  height: 100%
.PriceColumn__prices
.PriceColumn__PriceWas
  height: $g*2
  display: block
  margin-bottom: -6px
  color: $color-text-dis
  text-decoration: line-through
  opacity: 0.50
  line-height: $g*2
.PriceColumn__PriceIs
  display: block
  height: $g*3
  font-size: $font-size-input
  font-weight: $font-weight-medium
  line-height: $g*3

.RatioColumn
  height: 100%
.RatioColumn__votesContainer
  position: relative
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
.RatioColumn_sampleLow
  .RatioColumn__up
    background: $color-pri-light
.RatioColumn_sampleHigh
  .RatioColumn__up
    background: $color-pri-dark
  .RatioColumn__MicroTag
    background: $color-pri-dark
.RatioColumn__up
  float: left
  height: $g
  background: $color-pri
  box-shadow: $shadow-switch
  border-radius: 2px 0 0 2px
.RatioColumn__down
  float: left
  height: $g
  background: $color-mono-2
  border-radius: 0 2px 2px 0
.RatioColumn__microTagContainer
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: left
  display: none


.ImagesColumn
  height: 100%
  img
    display: block
    float: left
    margin: 0 auto
    height: 100%
    cursor: pointer

.DateColumn
  .__deco
    font-family: $font-family-mono

.TimeAgoColumn
.TimeAgoColumn__future
  opacity: 0.5

.ToggleColumn

.SysreqIndexColumn
  position: relative
  height: 100%
  display: flex
  align-items: center
.SysreqIndexColumn_unknown
  .SysreqIndexColumn__col
    opacity: 0.25
  &:after
    content: '?'
    position: absolute
    top: 50%
    left: 50%
    height: $g*2
    width: $g*2
    margin-top: -$g
    margin-left: -$g
    background: $color-text-dis
    color: $color-text-pri-alt
    line-height: $g*2
    text-align: center
    border-radius: 2px
.SysreqIndexColumn__col
  flex-grow: 1
  display: block
  margin-left: 1px
  height: 75%
  background: $color-pri-light
  &:first-child
    border-radius: 2px 0 0 2px
  &:last-child
    border-radius: 0 2px 2px 0
.SysreqIndexColumn__col_active
  background: $color-pri

.SysreqTokensDetailsColumn

.DiscountColumn
  display: flex
  align-items: center
  justify-content: center
  height: 100%
.DiscountColumn__thingy
  height: $g*4
  padding: 0 $g
  line-height: $g*4
  border-radius: 2px
  font-size: $font-size-input
  font-weight: $font-weight-medium
  color: $color-text-pri-alt
  .__deco
    color: $color-text-sec-alt
  &_low
    background: $color-pri-light
  &_medium
    background: $color-pri
  &_high
    background: $color-pri-dark

.BooleanColumn
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  line-height: 24px
.BooleanColumn__Icon
  margin-right: $g/2
  &:last-child
    margin-right: 0
.BooleanColumn__Icon_disabled
  color: $color-text-dis
  opacity: 0.2

.ControllerColumn

//   &.steam_early_access
//     color: rgba(red, 0.4)

// .column-Boolean
//   padding-right: 10px
//   .icons-list
//     display: table
//     table-layout: fixed
//     width: 100%
//   i
//     display: table-cell
//     line-height: $r
//
// .column-Images
//   img
//     display: block
//     margin: 0 auto
//     height: 45px
//     cursor: pointer
//
// .column-Tags
//   text-align: left
//   ul
//     color: $white
//     font-size: $font-smaller
//     line-height: $r*3/4
//     white-space: nowrap
//     li
//       display: inline-block
//       margin-right: 2px
//       padding: 0 2px
//       border-radius: 2px
//       background: $ocean-blue
//       cursor: pointer
//       &.selected
//         background: $ocean-green
//         cursor: default
//
// .column-SystemReq
//   text-align: left
//   strong
//     font-weight: bold
//
//   .string, .tokens
//     display: block
//     width: 50%
//     float: left
//     white-space: normal
//
//   .string
//     border-right: solid 2px black
//     &.no-tokens
//       border-right-color: red
//
//   ul
//     padding-left: $r
//
// .column-Date
//   .text-deco
//     font-family: monospace
//

//
// .column-SysreqTokensDetails
//   text-align: left
//
//   .detail
//     i
//       font-weight: bold
//
//     padding: 2px
//     margin-right: 2px
//     border-radius: 2px
//     background: rgba(#000, 0.1)
//
// .column-Toggle
//   &.steam_early_access
//     color: rgba(red, 0.4)
