.table
  flex-grow: 1
  overflow-x: auto
  overflow-y: hidden

  table
    table-layout: fixed
    width: auto

.header
  margin: 0 $g*3
  background: $color-mono-4
  box-shadow: $shadow-card
  margin-bottom: $g*3
