.table
  // background: $color-mono-4
  overflow-x: auto
  overflow-y: hidden

  table
    table-layout: fixed
    width: auto

.header
  margin: 0 $g*3
  background: $color-mono-4
  box-shadow: $shadow-card
  margin-bottom: $g*3

.columnsWidthFixator td
  position: relative
  height: 0

.resizeHandle
  position: absolute
  right: 0
  top: 0
  width: $g/2
  height: $g*6
  border-bottom-left-radius: $g

  cursor: ew-resize
  +z(dt-titles-resizeHandle)
  &:hover, &.resizeHandleDragging
    background: $color-pri-light

.resizeHandleDragging:after
  content: ' '
  position: absolute
  right: 0
  top: 0
  height: 1000px
  width: 1px
  background: $color-pri-light

.titlesList


.title
  position: relative
  // border-left: solid 1px $color-divider-light
  // border-bottom: solid 1px $color-divider-light
  color: $color-text-sec
  white-space: nowrap
  text-align: left
  text-overflow: ellipsis
  text-transform: uppercase
  font-weight: 500

  :global(.fa)
    font-size: $g*2

  &.titleSortable
    cursor: pointer
    &:hover
      background: $color-mono-3

  &.sort
    color: $color-text

.titleOverflow
  // display: flex
  position: relative
  padding: $g
  height: $g * 6
  text-overflow: ellipsis
  overflow: hidden
  // align-items: center
  & > span
    display: inline
    line-height: $g*4 - $g/2
    vertical-align: baseline

.titleStatus
  display: none
  position: absolute
  top: $g/2
  left: $g/2
  color: $color-sec

.titleActive .titleStatus
  display: block

.titleHighlighted .titleStatus
  color: $color-pri


.titleSortIcon

.titleIcon
  margin-right: $g/2

.titleText
  font-size: $font-size-caption
