.QueryChip
  height: $g*4
  margin-right: $g
  border-radius: $g*2
  background: $color-mono-4
  box-shadow: $shadow-card
  line-height: $g*4
  white-space: nowrap
  cursor: pointer
  &:last-child
    margin-right: 0
.QueryChip_sort .__Icon
  background: $color-pri-dark
  border: solid 2px darken($color-pri-dark, 7%)
.__Icon, .__remove
  height: $g*4
  width: $g*4
  border-radius: $g*2
  text-align: center
  font-size: $font-size-input
.__Icon
  composes: __export_QueryChip__icons from global
  line-height: $g*4 - 4px
  background: $color-sec-dark
  border: solid 2px darken($color-sec-dark, 7%)
  color: $color-text-pri-alt
  box-shadow: $shadow-switch
.__remove
  composes: __export_QueryChip__icons from global
  line-height: $g*4
  background: $color-mono-2
  &:hover
    background: $color-mono-3
.__text
  display: inline-block
  padding: 0 $g
  font-weight: $font-weight-medium
  vertical-align: top
._hl
  .__Icon
    border: solid $g/2 $color-sec
    background: $color-mono-3
    color: $color-text-pri
    line-height: $g*3 - 4px
