.QueryChip
  height: $g*4
  margin-right: $g
  border-radius: $g*2
  background: $color-mono-4
  box-shadow: $shadow-card
  line-height: $g*4
  white-space: nowrap
  cursor: pointer
.QueryChip__Icon, .QueryChip__remove
  line-height: $g*4
  height: $g*4
  width: $g*4
  border-radius: $g*2
  text-align: center
  font-size: $font-size-input
.QueryChip__Icon
  background: $color-sec-dark
  color: $color-text-pri-alt
  box-shadow: $shadow-switch
.QueryChip__remove
  background: $color-mono-2
  &:hover
    background: $color-mono-3
.QueryChip__text
  display: inline-block
  padding: 0 $g
  font-weight: $font-weight-medium
  vertical-align: top
.QueryChip_hl
  .QueryChip__Icon
    background: $color-sec-light
    color: $color-text-sec
