.content-box
  &:before, &:after
    content: ' '
    display: table
    // margin-top: $r
  padding-top: 1px
  max-width: 960px
  margin: 0 auto
  padding: 0 $r
  border-radius: 2px
  background: $white
  box-shadow: 0 1px 0 rgba(#000, 0.5), inset 0 1px 0 rgba(#fff, 0.25)
  background-image: linear-gradient(rgba(#fff, 0.25) 0%, rgba(#fff, 0) 50%)
  color: $blue

  h2
    font-size: $font-xx-larger
    line-height: $r*3
  h3
    font-size: $font-larger
    line-height: $r*2
  p
    margin-bottom: $r
  ol, ul
    margin-bottom: $r
    ol, ul
      margin-bottom: 0
  ol
    list-style: decimal outside
  ul
    list-style: square outside
  li
    margin-left: $r
  table
    margin-bottom: $r
