$palette-grey-300: #E0E0E0;
$palette-grey-100: #F5F5F5;
$palette-grey-50: #FAFAFA;
$palette-white: #FFFFFF;

// Primary & secondary colors
$color-pri: $palette-cyan-500;
$color-pri-light: $palette-cyan-100;
$color-pri-dark: $palette-cyan-700;
$color-sec: $palette-deep-orange-a400;
$color-sec-light: $palette-deep-orange-a100;
$color-sec-dark: $palette-deep-orange-a700;

// Theme colors
$color-mono-1: $palette-grey-300;
$color-mono-2: $palette-grey-100;
$color-mono-3: $palette-grey-50;
$color-mono-4: $palette-white;

// Text colors
$color-text-pri: rgba(#000, .87);
$color-text-sec: rgba(#000, .54);
$color-text-dis: rgba(#000, .38);
$color-text-pri-alt: rgba(#FFF, 1);
$color-text-sec-alt: rgba(#FFF, .70);
$color-text-dis-alt: rgba(#FFF, .50);

// Other colors
$color-icon-active: $color-text-sec;
$color-icon-inactive: $color-text-dis;
$color-divider: rgba(#000, .12);
$color-dimming: $color-divider;
// $color-divider-alt: rgba(#FFF, 12%);

// react-toolbox variables
$unit: 10px;

$color-divider: rgba(#000, .12);
$color-background: $color-mono-1;
$color-text: rgba(#000, .87);
$color-text-secondary: rgba(#000, .54);

$color-primary: $palette-cyan-500;
$color-primary-dark: $palette-cyan-700;
$color-primary-light: $palette-cyan-100;
$color-accent: $palette-deep-orange-a400;
$color-accent-light: $palette-deep-orange-a100;
$color-accent-dark: $palette-deep-orange-a700;


// Grid
$g: 8px;
$gg: $g*7;

$font-size-display-4: 112px;
$font-size-display-3: 56px;
$font-size-display-2: 45px;
$font-size-display-1: 34px;
$font-size-headline: 24px;
$font-size-title: 20px;
$font-size-menu-item: 15px;
$font-size-subheading: 15px;



// Font style
@mixin font-base() {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  // font-size: 14px;
  font-size: 14px; // Desktop
  line-height: 100%;
  color: $color-text-pri;
  @include media(">tablet") {
    font-size: 13px;
  }

}
@mixin font-display-4() {
  font-size: 112px;
  letter-spacing: -10px;
  color: $color-text-sec; }
@mixin font-display-3() {
  font-size: 56px;
  letter-spacing: -5px;
  color: $color-text-sec; }
@mixin font-display-2() {
  font-size: 45px;
  line-height: 48px;
  letter-spacing: 0;
  color: $color-text-sec; }
@mixin font-display-1() {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0;
  color: $color-text-sec; }
@mixin font-headline() {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0; }
@mixin font-title() {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px; }
@mixin font-subheading-1() {
  // font-size: 16px;
  font-size: 15px; // Desktop
  // line-height: 24px;
  letter-spacing: 0.1px; }
@mixin font-subheading-2() {
  // font-size: 16px;
  font-size: 15px; // Desktop
  // line-height: 28px;
  letter-spacing: 0.1px;
  font-weight: 500; }
@mixin font-body-1() {
  font-size: 14px;
  // line-height: 20px;
  letter-spacing: 0.1px; }
@mixin font-body-1-desktop() {
  font-size: 13px; }
@mixin font-body-2() {
  // font-size: 14px;
  font-size: 13px; // Desktop
  // line-height: 24px;
  font-weight: 500; }
@mixin font-caption() {
  font-size: 12px;
  color: $color-text-sec;
  letter-spacing: 0.2px; }
@mixin font-button() {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px; }

// Z-Index

$z:
  "lightbox",
  "drawer",
  "drawer-veil",
  "sysreqSelectorDropdown",
  "appBody",
  "appBar",

  "loadingSpinner",
  "catColumnsItems",
  "sysreqCalc",
  "dt",
  "dt-titles-highlightBorder",
  "dt-titles",
  "dt-controls",
  "dt-overflowCell",
  "dt-titles-resizeHandle",
  "dt-titles-sort-arrow",
  "dt-titles-icon",
  "dt-titles-tooltip";

@mixin z($name) {
  @if index($z, $name) {
    z-index: length($z) - index($z, $name) + 100;
  }
  @else {
    @error "z-index list doesn't have #{$name}";
  }
}

// Shadows

// $shDialog: 24px;
// $shDrawer: 16px;
// $shFabRaised: 12px;
// $shSubmenu: 9px;
// $shButtonRaised: 8px;
// $shFab: 6px;
// $shAppBar: 4px;
// $shButton: 2px;
// $shCard: 2px;
// $shSwitch: 1px;

$shadow: (
  dialog: 24px,
  drawer: 16px,
  fabRaised: 12px,
  submenu: 9px,
  buttonRaised: 8px,
  fab: 6px,
  appBar: 4px,
  button: 2px,
  card: 2px,
  switch: 1px
);

@mixin shadow($size) {
  $s: map-get($shadow, $size);
  box-shadow: 0 $s*0.5 $s rgba(#000, 0.2);
};

////////////////////////////////////////
// Old stuff

$dark-blue:   #1A1932;
$blue:        #2A354C;
$ocean-blue:  #3F5864;
$ocean-green: #63807F;
$teal:        #8EA8A1;
$white:       lighten($teal, 20%);
$red:         #872929;
$input-white: #fafafa;
$green:       green;
$link-blue:   #3c8baf;
$yellow:      #f1d619;
$faded-white: mix($white, $blue, 20%);

$color1: $dark-blue;
$color2: $blue;
$color3: $ocean-blue;
$color4: $ocean-green;
$color5: $teal;
$color6: $white;


$r: 24px;

$font-normal: 16px;
$font-larger: 20px;
$font-x-larger: 24px;
$font-xx-larger: 48px;
$font-smaller: 12px;
$font-x-smaller: 8px;
