$fa-var-steam-squared: "\21";
$fa-var-menu: "\22";
$fa-var-thermometer-2: "\23";
$fa-var-commenting-o: "\24";
$fa-var-heart: "\25";
$fa-var-question-circle-o: "\26";
$fa-var-picture: "\27";
$fa-var-font: "\28";
$fa-var-fire: "\29";
$fa-var-calendar: "\2a";
$fa-var-tags: "\2b";
$fa-var-box: "\2c";
$fa-var-dollar: "\2d";
$fa-var-percent: "\2e";
$fa-var-clock: "\2f";
$fa-var-comment-empty: "\30";
$fa-var-comment: "\31";
$fa-var-thumbs-up: "\32";
$fa-var-star: "\33";
$fa-var-cubes: "\34";
$fa-var-linux: "\35";
$fa-var-laptop: "\36";
$fa-var-apple: "\37";
$fa-var-windows: "\38";
$fa-var-male: "\3a";
$fa-var-exclamation: "\3b";
$fa-var-users: "\3c";
$fa-var-user: "\3d";
$fa-var-globe: "\3e";
$fa-var-user-plus: "\3f";
$fa-var-television: "\40";
$fa-var-videocam: "\41";
$fa-var-gamepad: "\42";
$fa-var-keyboard: "\43";
$fa-var-street-view: "\44";
$fa-var-ok-circled: "\45";
$fa-var-sort: "\46";
$fa-var-sort-down: "\47";
$fa-var-sort-up: "\48";
$fa-var-down-dir: "\49";
$fa-var-up-dir: "\4a";
$fa-var-cancel: "\4b";
$fa-var-lightbulb: "\4c";
$fa-var-htc-vive: "\4d";
$fa-var-oculus: "\4e";
$fa-var-osvr: "\4f";
$fa-var-chair: "\50";
$fa-var-filter: "\39";
$fa-var-cancel-circled: "\51";
$fa-var-eye: "\52";
$fa-var-eye-off: "\53";
$fa-var-trash: "\54";
$fa-var-circle-notch: "\55";