$footerHeight: $r*3

// These are all the parents of .container
// 100% height equals to the height of the visible portion of the screen
html, body, #app
  height: 100%

.container
  position: relative
  min-height: 100%
  padding-bottom: $footerHeight

// And now the footer, which is inside the .container

.footer
  +carved-in-background
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: $footerHeight
  line-height: $r*3
  text-align: center
  &, a
    color: $faded-white

  & > span, & > a
    margin-left: $r/2
