.tabs
  +z(tabs)
  position: fixed
  top: 0
  left: - $gg * 4
  height: 100%
  width: $gg * 4
  background: $color-mono-4
  // border-right: solid 1px mix($white, $color-divider, 100%)
  overflow: hidden
  transition: transform 0.5s

  +media('>tablet')
    left: 0
    width: $gg
    transition: width 0.5s, box-shadow 0.5s
    &:hover
      +shadow(drawer)
      width: $gg * 4

  &.active
    transform: translateX(100%)
    +shadow(drawer)

  a
    +font-body-2
    display: inline-block
    padding: 0 $g*2
    color: $color-text-pri
    line-height: $g * 6
    white-space: nowrap
    .fa
      margin-right: $g * 4
      color: $color-text-sec
      line-height: $g * 6
    &.active
      &, .fa
        color: $color-sec-dark

.tabs-content
  +media('>tablet')
    padding-left: $gg
