.general-nav
  +pie-clearfix
  height: $r
  margin-bottom: $r
  background: $dark-blue
  box-shadow: inset 0 3px 8px rgba(#000, 0.3), 0 1px 0 rgba(#fff, 0.05)
  // text-shadow: 0 1px 0 rgba(#000, 0.7)
  li
    float: left
  a
    display: inline-block
    padding: 0 $r/2
    color: rgba($white, 0.5)
    &:hover
      color: $white
      text-decoration: none
    &.active
      position: relative
      margin-top: -$r/4
      height: $r + $r/2
      line-height: $r + $r/2
      +btn-background
      box-shadow: inset 0 1px rgba(#fff, 0.1), 0 1px rgba(#000, 0.20)
      border-radius: 2px
      color: $white

  .filter-lock:hover
    color: $red

.tabs-content
  &-normal
    margin-bottom: $r
