
.icon-steam-squared:before { content: '\21'; } /* '!' */
.icon-menu:before { content: '\22'; } /* '&quot;' */
.icon-thermometer-2:before { content: '\23'; } /* '#' */
.icon-commenting-o:before { content: '\24'; } /* '$' */
.icon-heart:before { content: '\25'; } /* '%' */
.icon-question-circle-o:before { content: '\26'; } /* '&amp;' */
.icon-picture:before { content: '\27'; } /* ''' */
.icon-font:before { content: '\28'; } /* '(' */
.icon-fire:before { content: '\29'; } /* ')' */
.icon-calendar:before { content: '\2a'; } /* '*' */
.icon-tags:before { content: '\2b'; } /* '+' */
.icon-box:before { content: '\2c'; } /* ',' */
.icon-dollar:before { content: '\2d'; } /* '-' */
.icon-percent:before { content: '\2e'; } /* '.' */
.icon-clock:before { content: '\2f'; } /* '/' */
.icon-comment-empty:before { content: '\30'; } /* '0' */
.icon-comment:before { content: '\31'; } /* '1' */
.icon-thumbs-up:before { content: '\32'; } /* '2' */
.icon-star:before { content: '\33'; } /* '3' */
.icon-cubes:before { content: '\34'; } /* '4' */
.icon-linux:before { content: '\35'; } /* '5' */
.icon-laptop:before { content: '\36'; } /* '6' */
.icon-apple:before { content: '\37'; } /* '7' */
.icon-windows:before { content: '\38'; } /* '8' */
.icon-filter:before { content: '\39'; } /* '9' */
.icon-male:before { content: '\3a'; } /* ':' */
.icon-exclamation:before { content: '\3b'; } /* ';' */
.icon-users:before { content: '\3c'; } /* '&lt;' */
.icon-user:before { content: '\3d'; } /* '=' */
.icon-globe:before { content: '\3e'; } /* '&gt;' */
.icon-user-plus:before { content: '\3f'; } /* '?' */
.icon-television:before { content: '\40'; } /* '@' */
.icon-videocam:before { content: '\41'; } /* 'A' */
.icon-gamepad:before { content: '\42'; } /* 'B' */
.icon-keyboard:before { content: '\43'; } /* 'C' */
.icon-street-view:before { content: '\44'; } /* 'D' */
.icon-ok-circled:before { content: '\45'; } /* 'E' */
.icon-sort:before { content: '\46'; } /* 'F' */
.icon-sort-down:before { content: '\47'; } /* 'G' */
.icon-sort-up:before { content: '\48'; } /* 'H' */
.icon-down-dir:before { content: '\49'; } /* 'I' */
.icon-up-dir:before { content: '\4a'; } /* 'J' */
.icon-cancel:before { content: '\4b'; } /* 'K' */
.icon-lightbulb:before { content: '\4c'; } /* 'L' */
.icon-htc-vive:before { content: '\4d'; } /* 'M' */
.icon-oculus:before { content: '\4e'; } /* 'N' */
.icon-osvr:before { content: '\4f'; } /* 'O' */
.icon-chair:before { content: '\50'; } /* 'P' */
.icon-cancel-circled:before { content: '\51'; } /* 'Q' */
.icon-eye:before { content: '\52'; } /* 'R' */
.icon-eye-off:before { content: '\53'; } /* 'S' */
.icon-trash:before { content: '\54'; } /* 'T' */
.icon-circle-notch:before { content: '\55'; } /* 'U' */