.Configurator
  display: grid
  grid-template-columns: 20% 20% 20% 20% 20%
  grid-template-rows: auto
  margin: $g*3
  border-radius: 2px
  box-shadow: $shadow-card
  overflow: hidden

.__Section
  // flex: 1 1 100px
  border-left: solid 1px $color-divider-light
  background: $color-mono-4
  overflow: hidden
  // &:first-child .title
  //   border-left: none

.__Title
  padding: $g*2
    right: $g
  line-height: $g * 3
  font-size: $font-size-subheading
  color: $color-text-sec
  font-weight: 500
  overflow: hidden
  text-overflow: ellipsis

// .__Columns
//   overflow-y: auto
//   max-height: 150px
//   box-shadow: inset $shadow-card
//   background: rgba(#000, 0.01)
//   color: $color-text-sec

// .__Column
//   padding: $g
//   cursor: pointer
//   &_selected
//     background: $color-pri-light

+media('<big-desktop', '>tablet')
  .Configurator
    grid-template-columns: 25% 25% 25% 25%
    grid-template-rows: auto auto
  .__Section
    grid-row-start: 1
    grid-row-end: 3
  .__Section:nth-child(2)
    grid-column-start: 2
    grid-row-end: 2
  .__Section:nth-child(3)
    grid-column-start: 2
    grid-row-start: 2

+media('<desktop', '>tablet')
  .Configurator
    grid-template-columns: 33% 34% 33%
  .__Section:nth-child(4)
    grid-column-start: 3
    grid-row-end: 2
  .__Section:nth-child(5)
    grid-column-start: 3
    grid-row-start: 2

+media('<tablet')
  .Configurator
    grid-template-columns: 100%
  .__Section
    grid-row-start: auto
    grid-row-end: auto
